<%= form_for @user, signin_path do |f| %>

  <div class="field">
    <%= f.label :name, "Select your name" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password, "Enter your password" %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign in"  %>
  </div>
<% end %>
<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
