<h1>Huh?</h1>

<h4>Name: <%= @user.name %> </h4>
<h4>Height: <%= @user.height %> </h4>
<h4> Number of Tickets: <%= @user.tickets %></h4>
<h4>Nausea Rating: <%= @user.nausea %> </h4>
<h4> Happiness Rating: <%= @user.happiness %></h4>

<h5>link to "Back" </h5>
