
<h1>Sign up here</h1>

<%= form_for :user do |f| %>


Name:
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
Height:
  <%= f.label :height %><br>
  <%= f.text_field :height %><br>
Tickets:
  <%= f.label :tickets %><br>
  <%= f.text_field :tickets %><br>
Nausea:
  <%= f.label :nausea %><br>
  <%= f.text_field :nausea %><br>
Happiness:
  <%= f.label :happiness %><br>
  <%= f.text_field :happiness %><br>

  <%= f.submit %>

  <% end %>
